AUTH_DEV_BYPASS_ENABLED=true
AUTH_DEV_BYPASS_PASSWORD=password123
AUTH_DEV_DEFAULT_EMAIL=user.teste@test.com
AUTH_DEV_DEFAULT_ROLE=dev
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret
NODE_ENV=development


NEXT_PUBLIC_API_BI_DATA_DEV_URL=https://
NEXT_PUBLIC_API_BI_DATA_UAT_URL=https://
NEXT_PUBLIC_API_BI_DATA_PRD_URL=https://

NEXT_PUBLIC_API_BI_ORCHESTRATOR_DEV_URL=https://
NEXT_PUBLIC_API_BI_ORCHESTRATOR_UAT_URL=https://
NEXT_PUBLIC_API_BI_ORCHESTRATOR_PRD_URL=https:/


NEXT_PUBLIC_API_CI_DATA_DEV_URL=https://
NEXT_PUBLIC_API_CI_DATA_UAT_URL=https://
NEXT_PUBLIC_API_CI_DATA_PRD_URL=https://

NEXT_PUBLIC_API_CI_ORCHESTRATOR_DEV_URL=https://
NEXT_PUBLIC_API_CI_ORCHESTRATOR_UAT_URL=https://
NEXT_PUBLIC_API_CI_ORCHESTRATOR_PRD_URL=https://

AUTH_IAM_DEV_URL=https://
AUTH_IAM_DEV_USER=xxxx
AUTH_IAM_DEV_PASS=xxx

AUTH_IAM_UAT_URL=https://
AUTH_IAM_UAT_USER=xxx
AUTH_IAM_UAT_PASS=xxx

AUTH_IAM_PRD_URL=https://
AUTH_IAM_PRD_USER=xxxx
AUTH_IAM_PRD_PASS=xxx

NEXT_PUBLIC_BATCH_MODELS_CI_DEV=[]
NEXT_PUBLIC_BATCH_DOCUMENTS_CI_DEV=[]
NEXT_PUBLIC_BATCH_MODELS_CI_UAT=[]
NEXT_PUBLIC_BATCH_DOCUMENTS_CI_UAT=[]
NEXT_PUBLIC_BATCH_MODELS_CI_PRD=[]
NEXT_PUBLIC_BATCH_DOCUMENTS_CI_PRD=[]
NEXT_PUBLIC_BATCH_MODELS_BI_DEV=[]
NEXT_PUBLIC_BATCH_DOCUMENTS_BI_DEV=[]
NEXT_PUBLIC_BATCH_MODELS_BI_UAT=[]
NEXT_PUBLIC_BATCH_DOCUMENTS_BI_UAT=[]
NEXT_PUBLIC_BATCH_MODELS_BI_PRD=[]
NEXT_PUBLIC_BATCH_DOCUMENTS_BI_PRD=[]